{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="jumbotron">
	<h1 align='center'>Notes!</h1>
</div>

<div class="col-md-9">
{% if notes %}
    {% for note in notes %}
        <li> {{note.body}} </li>
    {% endfor %}
{% else %}
<h2> There are no notes present.</h2>
{% endif %}
</div>
<div class="col-md-3">
{% if tags %}
    {% for tag in tags %}
        <li><a href="{% url 'notes.tagsearch' slug=tag.slug  %}">{{ tag.label }}</a></li>
    {% endfor %}
{% else %}
<h2> There are no tags present.</h2>
{% endif %}

<!-- {% if user.is_authenticated %}
	{{ user.username }}
{% endif %}
 --></div>
{% endblock body %}
